// COLORS
$color-primary: #f7d208;
$color-offwhite: #f0ecd2;
$color-secondary: #997a61;
$color-nearblack: #383523;
$color-white: #fff;
$color-black: #000;

// MEDIA QUERY SIZES
$phone: 37.5em; // 600px
$tablet-portrait: 56.25em; // 900px
$tablet-landscape: 75em; // 1200px
$large-desktop: 112.5em; // 1800+
